In [5]:
library("dplyr")
library("ggplot2")

Warning message:
"package 'dplyr' was built under R version 4.3.3"

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union


Warning message:
"package 'ggplot2' was built under R version 4.3.3"

In [6]:
obesity_data <- read.csv("C:\\Users\\Brand\\Documents\\Branden's Stuff\\Python\\Machine Learning\\data\\house_data.csv")

In [7]:
head(obesity_data, 10)

   X Neighborhood Condition1 Condition2 HouseStyle RoofStyle RoofMatl
1  0  5           2          2          5          1         1
2  1 24           1          2          2          1         1
3  2  5           2          2          5          1         1
4  3  6           2          2          5          1         1
5  4 15           2          2          5          1         1
6  5 11           2          2          0          1         1
7  6 21           2          2          2          1         1
8  7 14           4          2          5          1         1
9  8 17           0          2          0          1         1
10 9  3           0          0          1          1         1
   Exterior1st Exterior2nd Foundation ⋯ WoodDeckSF OpenPorchSF EnclosedPorch
1  12          13          2          ⋯   0         61           0
2   8           8          1          ⋯ 298          0           0
3  12          13          2          ⋯   0         42           0
4  13          15          0          ⋯   0         35         272
5  12          13          2          ⋯ 192         84           0
6  12          13          5          ⋯  40         30           0
7  12          13          2          ⋯ 255         57           0
8   6           6          1          ⋯ 235        204         228
9   3          15          0          ⋯  90          0         205
10  8           8          0          ⋯   0          4           0
   X3SsnPorch ScreenPorch PoolArea MiscVal MoSold YrSold SalePrice
1    0        0           0          0      2     2008   208500
2    0        0           0          0      5     2007   181500
3    0        0           0          0      9     2008   223500
4    0        0           0          0      2     2006   140000
5    0        0           0          0     12     2008   250000
6  320        0           0        700     10     2009   143000
7    0        0           0          0      8     2007   307000
8    0        0           0        350     11     2009   200000
9    0        0           0          0      4     2008   129900
10   0        0           0          0      1     2008   118000

In [8]:
obesity_data %>% 
    select(Neighborhood)

     Neighborhood
1     5
2    24
3     5
4     6
5    15
6    11
7    21
8    14
9    17
10    3
11   19
12   16
13   19
14    5
15   12
16    3
17   12
18   19
19   20
20   12
21   16
22    9
23    5
24   10
25   19
26   16
27   12
28   16
29   12
30    3
⋮    ⋮
1431  8
1432 13
1433 17
1434  8
1435 11
1436 12
1437 12
1438 16
1439 17
1440 14
1441  6
1442  5
1443 21
1444  3
1445  5
1446 19
1447 11
1448  5
1449  7
1450 10
1451 12
1452 21
1453  7
1454 11
1455 21
1456  8
1457 14
1458  6
1459 12
1460  7